.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right:30px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: rgb(75, 93, 110);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    background-color: #f5d3c8 ;
    top:0;
    width: 100%;
    min-width: 680px;
    z-index: 10;


    .stays {
        padding: 15px 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 15px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0px 0px 3px rgba(0,0,0,.2);
        width: 800px;
        
    }

    .SLocation{
        border-color: magenta;
        box-sizing: content-box;

        
        img {
            width: 600px;
            height: 400px;
            justify-content: center;
            align-items: center;

        }
    }
}